<div class="container">
  <h1>LOGGED IN</h1>
  displayName: {{user.displayName}} <br />
  email: {{user.email}} <br />
  <img src="{{user.photo}}" alt="display Picture" /> <br /><br />

  <a href="/auth/logout" class="btn btn-default">Logout</a>
</div>
