//Base
@import './modules/base';

//Facebook Button
@import './modules/facebook';

body {
  background: $highlightBackground;
}

img.logo {
  display: block;
  margin: auto;
  margin-top: 50px;
}

a.facebook {
  margin: auto;
  margin-top: 50px;
}
