//Defaults - from H5BP
$default-color: #222;
$default-font-size: 1em;
$default-line-height: 1.4;
$default-selection-bg: #81C784;
$default-selection-color: rgba(255, 255, 255, 1);

/*
*
* Custom CSS
*
*/

// Font Stack
$droid-sans: 'Droid Sans', sans-serif;
$oswald: 'Oswald', sans-serif;

//Color Palette
$background: rgba(255, 255, 255, 1);
$primaryDark: #313638;
$primary: rgba(69, 69, 69, 1);
$highlight: #81C784;
$highlightBackground: #EDF0DA;

//Facebook Button
$fb-text-color: rgba(255, 255, 255, 1);
$fb-font-size: 20px;
$fb-background-color: #354f88;
$fb-background-color-hover: #2F477A;
$fb-background-color-active: #2A3F6C;

$fb-button-height: 44px;
$fb-button-width: 256px;
